/* --- --- Cartões de Resumo --- --- */
.resume-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px auto;
}

.summary-card {
    background-color: var(--background-item);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.summary-card p {
    font-size: 16px;
    font-weight: 500;
    color: var(--complemental-white);
}

.summary-card h2 {
    font-size: 28px;
    color: var(--text-color);
    margin-top: 10px;
}

/* --- Corzinha para cada cartão --- */
.saldo {
    border-left: 8px solid #004aad;
}

.gastos {
    border-left: 8px solid #ff6666;
}

.receitas {
    border-left: 8px solid #66cc66;
}


/* --- --- Cartões de Categorias --- --- */
.category-cards {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin: 80px auto;
}

.category-card {
    background-color: var(--background-item);
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    grid-column: span 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.category-card h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 15px;
}

.category-card ul {
    list-style: none;
    padding-left: 0;
}

.category-card ul li {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var(--complemental-white);
    margin-bottom: 8px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
}

.category-name {
    font-weight: normal;
}

.category-value {
    font-style: italic;
    color: var(--text-color);
}

